<div class="compare-container">
  <h3>Comparison</h3>
  <div class="body flex col">
    <div class="header flex">
      Target: {{GetComparison().target}}
    </div>
    <div class="content">
      <app-accordion *ngFor="let item of GetComparison().diffReport | keyvalue" [title]="castToString(item.key)">
        <div body>
          <app-accordion title="Component Conflicts">
            <div body>
            <ng-container  *ngFor="let conflict of castAsAny(item.value).componentConflicts | keyvalue">
              <app-accordion *ngIf="castAsAny(conflict.value)?.length" [title]="castToString(conflict.key)">
                <div body>
                  <app-accordion *ngFor="let value of castAsAny(conflict.value) | keyvalue" [title]="castToString(formatValue(castAsAny(value.value).message))">
                    <div body>
                        <pre>{{formatValue(removeComment(value.value))}}</pre>
                      </div>
                    </app-accordion>
                  </div>
                </app-accordion>
              </ng-container>
            </div>
          </app-accordion>
          <app-accordion title="Missing Components" *ngIf="castAsAny(item.value)?.missingComponents?.length">
            <div body>
              <pre>{{formatValue(castAsAny(item.value).missingComponents)}}</pre>
            </div>
          </app-accordion>
        </div>
      </app-accordion>
    </div>
  </div>
</div>
