<app-viewer
  title="Comparison"
  [options]="['Target: ' + GetComparison().target]"
  [selectedOption]="'Target: ' + GetComparison().target"
>

  <div body-1 style="width: 100%">
    <div *ngIf="GetComparison().target" class="wrapper">
      <ng-container *ngTemplateOutlet="compare"></ng-container>
    </div>
  </div>

  <ng-template #compare>
    <app-accordion *ngFor="let item of GetComparison().diffReport | keyvalue" [title]="castToString(item.key)">
      <div body>
        <app-accordion title="Component Conflicts">
          <div body>
          <ng-container  *ngFor="let conflict of castAsAny(item.value).componentConflicts | keyvalue">
            <app-accordion *ngIf="castAsAny(conflict.value)?.length" [title]="castToString(conflict.key)">
              <div body>
                <app-accordion *ngFor="let value of castAsAny(conflict.value) | keyvalue" [title]="castToString(formatValue(castAsAny(value.value).message))">
                  <div body>
                      <pre>{{formatValue(removeComment(value.value))}}</pre>
                    </div>
                  </app-accordion>
                </div>
              </app-accordion>
            </ng-container>
          </div>
        </app-accordion>
        <app-accordion title="Missing Components" *ngIf="castAsAny(item.value)?.missingComponents?.length">
          <div body>
            <pre>{{formatValue(castAsAny(item.value).missingComponents)}}</pre>
          </div>
        </app-accordion>
      </div>
    </app-accordion>
  </ng-template>
</app-viewer>