.pass {
    color: var(--green);
}

.fail {
    color: var(--red);
}

.file-container {
    height: 20vh;
    overflow-y: scroll;
}

.buttons {
    margin-top: 10px;
}

form {
    border: 1px solid red;
    width: 50%;
}