<form>
  <!-- Sboms -->
  <div class="file-container" *ngIf="ContainsFiles()">
    <div *ngFor="let item of GetLoadingFiles() | keyvalue">
      <app-spinner></app-spinner>
      {{ item.key }}
      <span class="material-symbols-outlined" (click)="RemoveFile(item.key)">
        delete
      </span>
    </div>
    <div *ngFor="let item of GetFiles() | keyvalue">
      <input
        type="checkbox"
        (change)="check($event)"
        [checked]="selectedFiles.indexOf(item.key) !== -1"
      />
      <span
        [ngClass]="[
          'material-symbols-outlined',
          item.value !== null ? 'pass' : 'fail'
        ]"
      >
        {{ item.value !== null ? "done" : "close" }}
      </span>
      {{ item.key }}
      <span
        class="material-symbols-outlined"
        (click)="selectedFile = item.key; open(deleteone)"
      >
        delete
      </span>
    </div>
  </div>
  <!-- Buttons -->
  <div class="flex buttons">
    <app-button
      [text]="(areAllSelected() ? 'DESELECT' : 'SELECT') + ' ALL'"
      (click)="selectAll()"
    ></app-button>
    <app-button text="DELETE SELECTED" (click)="open(deletemany)"></app-button>
    <app-button text="CREATE SBOM FROM PROJECT"></app-button>
    <app-button text="UPLOAD SBOM FILES" (click)="browse()"></app-button>
  </div>
</form>

<!-- Popup Modals -->
<ng-template #deletemany let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Delete the following SBOMS?
    </h4>
  </div>
  <div class="modal-body">
    <div *ngFor="let file of selectedFiles">{{ file }}</div>
  </div>
  <div class="modal-footer">
    <app-button
      text="DELETE"
      aria-label="Delete"
      (click)="delete(); modal.dismiss()"
    ></app-button>
    <app-button
      text="CLOSE"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></app-button>
  </div>
</ng-template>

<ng-template #deleteone let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Delete {{ selectedFile }}?
    </h4>
  </div>
  <div class="modal-footer">
    <app-button
      text="DELETE"
      aria-label="Delete"
      (click)="RemoveFile(selectedFile); modal.dismiss()"
    ></app-button>
    <app-button
      text="CLOSE"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></app-button>
  </div>
</ng-template>
