.pass {
    color: var(--green);
}

.fail {
    color: var(--red);
}

.buttons > app-button {
    margin: 20px;
}

form {
    width: 100%;
}

.file-container {
    height: 20vh;
    overflow-y: scroll;
}

.table-row {
    padding: 10px;
}

.item-container {
    display: flex;
    align-items: center;
    background-color: var(--background-1);
    border: 2px solid rgba(255, 255, 255, 0.752);
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    width: 35%;
}

input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.file-name {
    flex-grow: 1;
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--secondary);
}

.material-symbols-outlined {
    margin: 0 5px;
}

span{
    color: var(--secondary);
}