<app-navbar />
<div class="container">
  <form>
    <!-- Sboms -->
    <div class="file-container">
      <div class="table-row" *ngFor="let item of GetLoadingFiles()">
        <div class="item-container">
          <app-spinner></app-spinner>
          <div class="file-name">{{ getAlias(item) }}</div>
          <span class="material-symbols-outlined">edit</span>
          <span class="material-symbols-outlined" (click)="RemoveFile(item)">delete</span>
        </div>
      </div>
      <div class="table-row" *ngFor="let item of GetFiles() | keyvalue">
        <div class="item-container">
          <input type="checkbox" [value]="item.key" (change)="check($event)" [checked]="selectedFiles.indexOf(item.key) !== -1" />
          <div class="file-name">
            <span class="file-name-text" [ngbTooltip]="item.value === null ? 'SBOM is not valid!' : null" [style.color]="item.value === null ? 'red' : 'inherit'">
              {{ getAlias(item.key) }}
            </span>
          </div>
          <span class="material-symbols-outlined">edit</span>
          <span class="material-symbols-outlined" (click)="selectedFile = item.key; isDeleteOneOpen = true" placement="bottom">delete</span>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="buttons">
      <app-button
        [text]="(areAllSelected() ? 'DESELECT' : 'SELECT') + ' ALL'"
        (click)="selectAll()"
      ></app-button>
      <app-button text="DELETE SELECTED" (click)="isDeleteManyOpen = true"></app-button>
      <app-button text="UPLOAD SBOM FILES" (click)="browse()"></app-button>
      <app-button text="CREATE SBOM FROM PROJECT"></app-button>
    </div>
  </form>
  <!-- Popup Modals -->
  <ng-container>
    <app-modal *ngIf="isDeleteManyOpen">
      <div title>
        Delete the following SBOMS?
      </div>
      <div content>
        <div *ngFor="let file of selectedFiles">{{ getAlias(file) }}</div>
      </div>
      <div actions>
        <app-button text="DELETE" aria-label="Delete" (click)="delete()"></app-button>
        <app-button text="CLOSE" aria-label="Close" (click)="isDeleteManyOpen = false"></app-button>
      </div>
    </app-modal>
  </ng-container>

  <ng-container #deleteone>
    <app-modal *ngIf="isDeleteOneOpen" (delete)="delete()" dismiss="isDeleteOneOpen = false">
      <div title>
        Delete {{ getAlias(selectedFile) }}?
      </div>
      <div actions>
        <app-button
          text="DELETE"
          aria-label="Delete"
          (click)="RemoveFile(selectedFile); isDeleteOneOpen = false"
        ></app-button>
        <app-button
          text="CLOSE"
          aria-label="Close"
          (click)="isDeleteOneOpen = false"
        ></app-button>
      </div>
    </app-modal>
  </ng-container>
</div>
