.pass {
    color: var(--green);
}

.fail {
    color: var(--red);
}

.file-container {
    height: 20vh;
    overflow-y: scroll;
}

.buttons > app-button {
    margin: 20px;
}

form {
    width: 50%;
}