<div *ngIf="qa">
  <!-- Header -->
  <div class="header">Metrics</div>
  <div class="fileName">{{ sbom.name }}</div>
  <!-- Body -->
  <section class="body">
    <div class="components">
      <ng-container *ngFor="let component of components"> </ng-container>
    </div>
    <div class="filters">
      <app-circle-toggle
        *ngFor="let attribute of attributeNames"
        [toggle]="attributes[attribute]"
        (click)="attributes[attribute] = !attributes[attribute]"
        >{{ attribute }}</app-circle-toggle
      >
    </div>
  </section>
  <div></div>
</div>
