<div class="upload-container">
    <h3>SBOM Files</h3>
    <form class="">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="btn-secondary material-symbols-outlined">Search</i></button>
    </form>
    <div class="file-name">
        <input mdbCheckbox class="form-check-input" type="checkbox"/>
        <h3>File Name</h3>
    </div>

    <div class="files-container" *ngIf="GetAllFiles().length > 0">
      <div class="file flex center" *ngFor="let item of GetValidSBOMs()">
        <div class="sbom flex" style="color: var(--green);">
            <input type="checkbox" [value]="item"/>
            {{getAlias(item)}}
        </div>
      </div>

      <div class="file flex center" *ngFor="let item of GetErrorSBOMs()">
          <div class="sbom flex" style="color: var(--red);">
            <input type="checkbox" [value]="item"/>
            {{getAlias(item)}}
          </div>
      </div>
      <div class="file flex center" *ngFor="let item of GetLoadingSBOMs()">
          <div class="sbom flex" style="color: var(--accent);">
              {{getAlias(item)}}
          </div>
      </div>
    </div>

    <div class="file-dropzone" *ngIf="GetAllFiles().length === 0">
        <span class="material-symbols-outlined">publish</span>
        <hr>
        <p class="text-center">Drag and drop SBOMS</p>
        <app-button text="Select Files" (click)="browse()"/>
    </div>

    <h3>Generate SBOM</h3>
    <div class="generate-dropzone">
      <app-button text="Select Files" (click)="browse()"/>
        <p class="text-center">or drag project directory in here</p>
    </div>
</div>
