.topnav {
    overflow: hidden;
    background-color: var(--primary) ;
    /* check if its the primary accent */
    width: 100%;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: space-between;
}

.topnav a:hover {
    background-color: #ddd;
    color: var(--primary-accent);
    border-radius: 6px;
}

.topnav a.active {
    background-color: white;
    color: var(--primary-accent);
    border-color: var(--primary-accent);
    border-width: 2px;
    border-color: black;
}
