<ngb-accordion [activeIds]="expanded ? ['accordion'] : []">
  <ngb-panel>
    <ng-template ngbPanelTitle (click)="toggleExpanded()">
      <div class="accordion-header">
        {{ title }}
        <ng-content select="[title]"></ng-content>
        <div *ngIf="extra.length > 0" class="accordion-desc flex col">
          <div *ngFor="let item of extra">{{ item }}</div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div
        *ngIf="color != ''"
        class="color-bar"
        [style.backgroundColor]="color"
      ></div>
      <div class="content">
        <ng-content select="[body]"></ng-content>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
