<div ngbAccordion>
  <div ngbAccordionItem>
    <div ngbAccordionHeader>
      <h2 ngbAccordionToggle class="accordion-title">
        <ng-content select="[title]"></ng-content>
        <span class="mat-expansion-indicator"></span>
      </h2>
      <div *ngIf="extra.length > 0" class="accordion-desc flex col">
        <div *ngFor="let item of extra">
          {{ item }}
        </div>
      </div>
      <div *ngIf="color != ''" class="color-bar" [style.background-color]="color"></div>
    </div>
    <div ngbAccordionCollapse>
      <ng-content select="[body]"></ng-content>
    </div>
  </div>
</div>
