<div class="comparison" *ngIf="!IsLoadingComparison()">
  <div class="header">
    <span
      class="underline"
      *ngFor="let title of path"
      (click)="decreaseDepth(title)"
      >{{ title }} /</span
    >
  </div>
  <div class="body" *ngIf="getComparison()">
    <!-- All Components -->
    <div *ngIf="path.length === 1">
      <app-accordion
        *ngFor="let component of getComponents()"
        [title]="component"
        [extra]="[compare[component].length + ' Values']"
        (click)="path.push(component)"
      ></app-accordion>
    </div>
    <!-- Component -->
    <div *ngIf="path.length === 2">
      <app-accordion
        *ngFor="let componentVersion of compare[path[1]]"
        [title]="componentVersion.componentVersion || 'N/A'"
        [extra]="[
          componentVersion.appearances.length +
            '/' +
            getComparisonFiles().length +
            ' Match'
        ]"
        [color]="passed(componentVersion.appearances.length)"
        (click)="
          path.push(componentVersion.componentVersion || '');
          version = componentVersion || undefined
        "
      >
      </app-accordion>
    </div>
    <!-- Version Attributes -->
    <div *ngIf="path.length === 3 && version">
      <div *ngFor="let attr of attributes">
        <app-accordion
        [title]="attr"
          *ngFor="let key of getKeys(getAttributes(attr))"
          [extra]="[
            getAttributes(attr)[key].appearances +
              '/' +
              getComparisonFiles().length +
              ' Match'
          ]"
          [color]="passed(getAttributes(attr)[key].appearances?.length || 0)"
        ></app-accordion>
      </div>
    </div>
  </div>
</div>
