
  
  .color-bar {
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .dropdown {
    background: var(--secondary);
    color: white;
    width: 100%;
    margin: auto;
    height: 50px;
    align-items: center;
    cursor: pointer;
  }
  
  .dropdown > .selected {
    margin-left: 25px;
  }
  
  .dropdown > .mat-expansion-indicator {
    margin-left: auto;
    margin-right: 25px;
    width: 100%;
    height: 100%;
  }
  

  
  .accordion-bar {
    background-color: var(--primary);
    color: white;
  }
  
  .accordion-bar:hover {
    background-color: grey !important;
  }

  .accordion-title:hover {
    cursor: pointer;
  }  
  
  .ngb-accordion {
    width: 100%;
    display: block;
  }
  
  .ngb-accordion-item {
    margin-bottom: 10px;
  }
  
  .ngb-accordion-header {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  
  .ngb-accordion-header:hover {
    background-color: grey;
  }
  
  .ngb-accordion-toggle {
    flex: 1;
    border: none;
    background: none;
    color: white;
  }
  
  .ngb-accordion-desc {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .color-bar {
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .ngb-accordion-body {
    background-color: white;
    padding: 10px;
  }
  
  .content {
    display: block;
  }
  