.success {
      background-color: #54AD78;
    }
    
    .info {
      background-color: #5195EA;
    }
    
    .warning {
      background-color: #FFD700;
    }
    
    .error {
      background-color: #F44336;
    }
