.home-page {
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5%;
}

.title {
  font-size: 120%;
  margin-bottom: 5%;
}

.desc {
  font-size: 100%;
  opacity: 70%;
}

.item {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 3%;
  background-color: var(--background-1);
  border: 2px solid rgba(255, 255, 255, 0.752);
}

.item:hover {
  transition: box-shadow 0.35s, transform 0.35s;
  transform: translate(0, -3px);
}

.resizable {
  height: 20vw;
  width: 20vw;
  position: relative;
  resize: both;
}
