<div class="viewer-container">
  <h3>View SBOM</h3>
  <div class="body flex col">
    <div class="header flex">
      <div class="option" [id]='pretty ? "selected" : ""' (click)="pretty = true">PRETTY</div>
      <div>/</div>
      <div class="option" [id]='!pretty ? "selected" : ""' (click)="pretty = false">RAW</div>
    </div>
    <div class="title">
      {{getAlias(routing.data)}}
    </div>
    <div class="component-container">
      <ng-container *ngIf="pretty">
        <ng-template #components let-data>
          <div body *ngFor="let component of data.components">
            <div body>
              <app-accordion [title]="component.name">
                <div body class="component-container">
                  <ng-container *ngFor="let item of component | keyvalue">
                    <app-accordion [title]="convertToString(item.key)">
                      <div body>
                        <pre>{{ (item.value === null) ? 'N/A' : formatValue(item.value) }}</pre>
                      </div>
                    </app-accordion>
                  </ng-container>
                </div>
              </app-accordion>
            </div>
          </div>
        </ng-template>
        <app-accordion [title]="'Components'">
          <div body class="component-container">
            <ng-container *ngTemplateOutlet="components; context:{ $implicit: data }"></ng-container>
          </div>
        </app-accordion>

        <ng-template #metadata let-data>
          <ng-container *ngFor="let item of data | keyvalue; let first = first">
            <ng-container *ngIf="!first">
              <app-accordion [title]="convertToString(item.key)">
                <div body>
                  <ng-container *ngIf="isObjectType(item.value)">
                    <ng-container *ngTemplateOutlet="metadata; context:{ $implicit: item.value }"></ng-container>
                  </ng-container>
                  <ng-container *ngIf="isStringOrArray(item.value) && !isObjectType(item.value)">
                    <pre>{{ formatValue(item.value) }}</pre>
                  </ng-container>
                </div>
              </app-accordion>
            </ng-container>
          </ng-container>
        </ng-template>


        <app-accordion [title]="'Metadata'">
          <div body class="component-container">
            <ng-container *ngTemplateOutlet="metadata; context:{ $implicit: data }"></ng-container>
          </div>
        </app-accordion>
      </ng-container>
    </div>
    <ng-container *ngIf="!pretty">
      <pre class="content">
        {{routing.data ? dataHandler.GetSBOMInfo(routing.data).contents : ''}}
      </pre>
    </ng-container>
  </div>
</div>
