<div class="viewer-container">
  <h3>View SBOM</h3>
  <div class="body flex col">
    <div class="header flex">
      <div class="option" [id]='pretty ? "selected" : ""' (click)="pretty = true">PRETTY</div>
      <div>/</div>
      <div class="option" [id]='!pretty ? "selected" : ""' (click)="pretty = false">RAW</div>
    </div>
    <div class="title">
      {{getAlias(routing.data)}}
    </div>
    <ng-container *ngIf= "pretty">
    <div *ngFor="let component of data.components">
      <app-accordion [title]="component.name">
        <div body>
            <app-accordion *ngFor="let item of component | keyvalue"
            [title]="item.key"
          >
            <div body>
              {{ item.value }}
            </div>
          </app-accordion>
        </div>
       
      </app-accordion>
    </div> 
    </ng-container>

    <ng-container *ngIf="!pretty">
      <div class="content">
        {{routing.data ? dataHandler.GetSBOMInfo(routing.data).contents : ''}}
      </div>
    </ng-container>
  </div>

</div>
