/* You can add global styles to this file, and also import other style files */
:root {
    --accent: #58a5ff;
    --green: #58ff82;
    --red: #ff5858;
    --primary: #6889AF;
    --gray: gray;
    --bg: #c7c7c7;
    --warn: #f44336;

  }

html,
body {
  background-color: white;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: 'Noto Sans', 
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.hover:hover {
  transition-duration: 0.35s;
  transform: translate(0, -3px);
}

.shadow {
  box-shadow: 0px 5px 10px #0000006d;
}
