.dropdown {
  background-color: transparent;
  border-color: white;
}

.dropdown::after {
  content: none;
}

.hoverable:hover {
  color: var(--primary);
  cursor: default;
}

.menu {
  user-select: none;
}

.sbom-view:hover{
  color: black;
  cursor: pointer;
}